<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header" class="header"> <!-- Etiqueta para ofrecerle al browser info del encabezado -->
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            <a class="nav-link" th:href="@{/cliente/listado}" th:text="#{plantilla.clientes}">Clientes</a>
                            <a class="nav-link" th:href="@{/categoria/listado}" th:text="#{plantilla.categorias}">Categorías</a>
                            <a class="nav-link" th:href="@{/articulo/listado}" th:text="#{plantilla.articulos}">Artículos</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <footer th:fragment="footer" class="footer">
            <div class="card text-center">
                <div class="card-header">Featured</div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a th:href="@{/(lang=es)}" class="btn btn-primary btn-sm">ES</a>
                    <a th:href="@{/(lang=en)}" class="btn btn-primary btn-sm">EN</a>
                </div>
                <div class="card-footer text-muted">&COPY [[#{plantilla.derechos}]]</div>
            </div>
        </footer>
    </body>
</html>