<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <header th:replace="layout/plantilla :: header"/>
        <h2 th:text="#{cliente.datos}">Datos del Cliente</h2>
        <a th:href="@{/cliente/listado}" th:text="#{accion.regresar}">Regresar</a>
        <form th:action="@{/cliente/guardar}" method="post" th:object="${cliente}" class="row gy-2 gx-3 align-items-center">
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            <div class="mx-auto col-auto shadow-sm p-3 mb-5 bg-body rounded" style="width: 450px;">
                <label for="nombre" class="form-label" th:text="#{cliente.nombre}">Digite el Nombre del Cliente:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre del Cliente" th:field="*{nombre}">
                <br>
                <label for="apellidos" class="form-label" th:text="#{cliente.apellidos}">Digite los Apellidos del Cliente:</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Apellidos del Cliente" th:field="*{apellidos}">
                <br/>
                <label for="correo" class="form-label" th:text="#{cliente.correo}">Digite el Correo del Cliente:</label>
                <input type="email" class="form-control" id="formGroupExampleInput" placeholder="correo@ejemplo.com" th:field="*{correo}">
                <br/>
                <label for="telefono" class="form-label" th:text="#{cliente.telefono}">Digite el Teléfono del Cliente:</label>
                <input type="tel" class="form-control" id="formGroupExampleInput2" placeholder="Teléfono del Cliente" th:field="*{telefono}">
                <br/>
                <label for="limite" class="form-label" th:text="#{cliente.limite}">Digite el Límite de Crédito:</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Teléfono del Cliente" th:field="*{credito.limite}">
                <br/>
                <button class="btn btn-primary" type="submit" name="guardar" value="Guardar" th:text="#{accion.guardar}"/>
            </div>
                <!-- comment 
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br/>
                <label for="apellidos">Apellidos:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br/>
                <label for="correo">Correo:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br/>
                <label for="telefono">Teléfono:</label>
                <input type="text" name="telefono" th:field="*{telefono}"/>
                <br/>-->
        </form>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>