<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <form method="POST" th:action="@{/login}" class="position-absolute top-50 start-50 translate-middle">
            <div class="card">
                <h4 th:text="#{login.login}" class="card-header">Login</h4>
                <div class="card-body">
                    <label for="username" th:text="#{login.username}" class="form-label">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                    <br/>
                    <label for="password" th:text="#{login.password}" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <br/>
                    <button type="submit" value="Login" th:text="#{login.login}" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </body>
</html>